.modal_review_button {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 2rem;
  margin: 1rem 0;

  button {
    width: 10rem;
    padding: 0.5rem 0;
    font-weight: 600;
    border-style: none;
    background: #eee;
    border-radius: 1rem;
    cursor: pointer;
  }
}
