.tab-control {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;

    ul {
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;

        li {
            font-size: 13px;
            margin: 0 1rem;
            cursor: pointer;
        }
    }
}


.login-form {
    width: 100%;


    h1 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 1rem;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    

    input {
        width: 100%;
        border-style: none;
        margin: 0.3rem 0;
        height: 2.5rem;
        border-radius: 8px;
        padding: 0 0.6rem;
        border: 1px solid #bbb;
    }


    div {
        display: flex;
        justify-content: end;
        a {
            padding: 0.5rem 0;
            font-size: 10px;
            cursor: pointer;
            // text-decoration: none;
        }
     }
    }
}

.other-login-form {
    p {
        font-size: 13px;
        text-align: center;
        font-weight: 900;
        margin: 1rem 0;
    }

    div {
        text-align: center;

        a {
            img{
                width: 40px;
                height: 40px;
                margin: 0 0.4rem;
                cursor: pointer;
            }
        }
    }
}