@import "./../styles/variables.scss";

.wrap {
    margin-top: 2rem;

    .list {
        display: flex;
        border: 1px solid black;
        border-radius: 10px;
        height: 4rem;
        margin-bottom: 1rem;

        .nick, .review {
            margin-left: 10px;
            margin: auto;
        }
    
        .btn {
            font-size: 16px;
            width: 7rem; 
            height: 2rem;
            margin-left: 3rem;
            margin-right: auto;
        }
    }
}



