@import "./../styles/variables.scss";

.wrap {
    margin-top: 2rem;
    text-align: center;

    .list {
        display: flex;
        border: 1.5px solid #bbb;
        border-radius: 10px;
        height: 6rem;
        margin-bottom: 1rem;

        .nick {
            margin-left: 1rem;
            margin-top: 0.5rem;
            font-size: 13px;
        }

        .review {
            padding-left: 4rem;
            margin: auto;
            white-space: nowrap;
        }
    }

    .btn-1 {
        font-size: 15px;
        width: 5rem;
        height: 5rem;
        margin-left: 6rem;
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        background: rebeccapurple;
        color: white;
    }

    a {
        color: white;
    }

    h1 {
        padding-bottom: 1rem;
    }  

    .ps-user {
        text-align: center;
    }

    @include breakpoint(bg) {
        width: 100%;
    }

    margin-top: 2rem;
    text-align: center;

    .list {
        display: flex;
        border: 1.5px solid #bbb;
        border-radius: 10px;
        height: 6rem;
        margin-bottom: 1rem;
        width: 30rem;

        @include breakpoint(md) {
            display: flex;
            border: 1.5px solid #bbb;
            border-radius: 10px;
            height: 6rem;
            margin-bottom: 1rem;
            width: 30rem;
        }

        .nick {
            margin-left: 1rem;
            margin-top: 0.5rem;
            font-size: 13px;
        }

        .review {
            padding-left: 2rem;
            margin: auto;
            white-space: nowrap;
        }
    }

    a {
        color: white;
        font-size: 12px;
    }

    h1 {
        padding-bottom: 1rem;
    }  

    .ps-user {
        text-align: center;
    }
}