.rewiew_wrap {
    box-sizing: border-box;
    display: inline-block;
    width: 40rem;
    height: 13rem;
    border: 1.5px solid #bbb;
    border-radius: 20px;
    margin-top: 1.5rem;

    .subway-txt, .subway-content, .subway-Cleanliness, .nickname {
        margin-left: 5%;
        padding-top: 5%;
        list-style:none;

        .subway-content1 {
            width: 5rem;
            font-size: 15px;
            border: 1px solid #0357FB;
            white-space: nowrap;
        }
    }

    .nickname {
        margin-left: 16rem;
    }
}