.SubwayMap-wrap{
    
    margin-top: 105px;
    width: 100%;
    height: 600px;
    border: 2px black solid;
    display: flex;
    
    @media screen and (max-width: 576px) {
        flex-wrap: wrap;
    }
    @media screen and (min-width: 576px) {
        flex-wrap: wrap;
    }
    @media screen and (min-width: 768px) { 
        flex-wrap: wrap;
    }

    // Large devices (desktops, 992px and up)
    @media screen and (min-width: 992px) { 
        flex-wrap: nowrap;
    }

    // X-Large devices (large desktops, 1200px and up)
    @media screen and (min-width: 1200px) { 
        flex-wrap: nowrap;
    }

    // XX-Large devices (larger desktops, 1400px and up)
    @media screen and (min-width: 1400px) { 
        flex-wrap: nowrap;
    }
}

.SubwayMap{
    // border: 2px green solid;
    width: 750px;
    height: 600px;
    overflow: scroll;
    
    position: relative;
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -ms-overflow-style: none;
}
.SubwayMap::-webkit-scrollbar{
    display:none;
}

.selectedText{
    stroke-width: 1px;
    stroke: aquamarine;
}


.scrollLock{
    overflow: hidden;
    height: 100%;
}


// .tooltip-wrap{
//     width: 200px;
//     height: 100px;
//     background-color: white;
//     border: 5px black solid;

//     display: block;
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     z-index: 5;
// }

.tooltip-wrap {
	position: absolute;
	background: #545454;
	border-radius: .4em;
    width: 180px;
    height: 100px;
    left: 0px;
    top: 0px;
    z-index: 5;
    color: white;
    text-align: center;

}

.tooltip-wrap:after {
    content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 16px solid transparent;
	border-top-color: #545454;
	border-bottom: 0;
	margin-left: -16px;
	margin-bottom: -16px;
}

:root {
    --button-color: #ffffff;
    --button-bg-color: #0d6efd;
    --button-hover-bg-color: #025ce2;
  }
.line2icon{
    margin-top: 5px;
}
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    background: var(--button-bg-color);
    color: var(--button-color);
    
    margin: 0;
    padding: 0.5rem 1rem;
    
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    
    border: none;
    border-radius: 4px;
    
    display: inline-block;
    width: auto;
    
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    
    cursor: pointer;
    
    transition: 0.5s;
  }
  
  button.success {
    --button-bg-color: #28a745;
    --button-hover-bg-color: #218838;
  }