// colors
$dark: rgb(29, 29, 29);
$light: #fff;
$primary: rgb(53, 109, 241);
$bg: rgb(244, 244, 255);

// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// border radius
$borderRadius: 12px;

// header height
$headerHeight: 60px;

@mixin breakpoint($point) {
  @if $point == md {
    @media (min-width: 40em) {
      @content;
    }
  } @else if $point == sm {
    @media (max-width: 54em) {
      @content;
    }
  } @else if $point == bg {
    @media (max-width: 40em) {
      @content;
    }
  }
}
