@import "./../styles/variables.scss";

.main__content {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 3rem;

  @include breakpoint(md) {
    flex-direction: row;
  }
}
