@import "./../styles/variables.scss";

.Notice-writeForm{
    margin-top:100px;
    display:flex;
    flex-direction: column; 
    align-items:center;
    width: 20rem;

    @include breakpoint(md){
        width: 800px;
    }
}

.Notice_title{
    // margin-left: 0.1rem;
    width: 100%;

    // @include breakpoint(md) {
    //     width: 100%;
    // }
}
.form_wrap{
    margin-top: 20px;
    width: 100%;
    // height: 100%;

    // @include breakpoint(md) {
    //     // width: 100%;
    //     margin-top: 20px;
    //     height: 100%;
    // }
}
.form_wrap > form{
    width: 100%;
    display:flex;
    flex-direction: column;
    // padding: 1rem 5rem;

    @include breakpoint(md) {
        width: 100%;
        display:flex;
        flex-direction: column; 
    }
}


.form_wrap > form > input {
    padding: 10px 0;
    border-top: 2px solid rgb(97, 97, 97);
    // width: 0.5rem;

    // @include breakpoint(md) {
        
    // }
}

.inputTitle {
    width: 1rem;
}

.form_wrap > form > div{
    padding: 10px 0;
    border-top: 2px solid rgb(97, 97, 97);
}

.form_wrap > form > div > span{
    font-weight: bold;
    display: inline-block;
    width: 100px;
    text-align: center;
}

.inputTitle{
    width: 700px;
    height: 30px;

    @include breakpoint(md) {
    width: 230px;
    height: 30px;
    }
}
.textarea-wrap{
    display: flex;
    align-items: center;
}
.textareaCont{
    width: 90%;
    height: 412px;
}

.ck.ck-editor{
    max-width: 700px;
}
.ck-editor__editable{
    width: 700px;
    min-height: 300px;
}
.noticeButton-wrap{
    text-align: center;
    margin-bottom: 5rem;
}
.noticeButton-wrap > button{
    text-align: center;
    margin: 0 10px;
}
.cancelButton{
    background: rgb(105, 105, 105);
}
// Notice-write
// ////////////////////////////////////////

.noticeList-wrap{
    margin-top: 130px;
    text-align: center;
    width: 90%;

    @include breakpoint(md) {
        width: 80%;
    }
}

.noticeList-content{
    margin-top: 60px;

    @include breakpoint(md){
        margint-top: 50px;
    }
}
.listInfo-wrap{
    display: flex;
    justify-content: space-between;
}
.listInfo-wrap > button{
    background: rgba(255, 255, 255, 0);
    color: black;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
}
.noticeList-top{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(212, 213, 255);
    font-weight: bold;
    padding: 15px 0;

    @include breakpoint(md) {
        display: flex;
    }

}
.notice-obj{
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    border-bottom: 1px solid black;
}
.noticeList-top > .num{
    flex: 1 1 0;
}
.noticeList-top > .title{
    flex: 4 1 0;
    
}
.noticeList-top > .writer{
    flex: 2 1 0;
}
.noticeList-top > .date{
    flex: 1 1 0;
}
.notice-obj > .num{
    flex: 1 1 0;
}
.notice-obj > .title{
    flex: 4 1 0;
}
.notice-obj > .writer{
    flex: 2 1 0;
}
.notice-obj > .date{
    flex: 1 1 0;
}

.pagination{
    margin-top: 30px;
}

// notice View

.NoticeView-wrap{
    margin-top: 100px;
    
    width: 80%;
    h1{
        text-align: center;
    }
}
.viewContent-wrap{
    margin-top: 60px;
    margin-bottom: 10px;

    @include breakpoint(md) {
        margin-bottom: 100px;
    }
}

.NoticeView_tag{
    text-align: start;
}

.viewContent-innerWrap{
    margin-top: 20px;
    border: 1px solid rgb(168, 168, 168);
    padding: 10px;
    margin-bottom: 20px;
}

.viewContent-title{
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(179, 179, 179);
}
.viewContent-writer{
    border-bottom: 1px solid rgb(179, 179, 179);
    background-color: rgba(0, 0, 0, 0.644);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    padding: 5px;
    font-size: 0.8rem;
}
.viewContent-content{
    padding-top: 10px;
    margin-top: 5px;
    border-top: 1px solid rgb(179, 179, 179);
}