.Notice-writeForm{
    margin-top:100px;
    display:flex;
    flex-direction: column; 
    align-items:center;
    width: 800px;
}

.Notice_title{
    width: 100%;
}
.form_wrap{
    margin-top:20px;
    width: 100%;
}
.form_wrap > form{
    display:flex;
    flex-direction: column; 
}
.form_wrap > form > div{
    padding: 10px 0;
    border-top: 2px solid rgb(97, 97, 97);
}

.form_wrap > form > div > span{
    font-weight: bold;
    display: inline-block;
    width: 100px;
    text-align: center;
}
.inputTitle{
    width: 700px;
    height: 30px;
}
.textarea-wrap{
    display: flex;
    align-items: center;
}
.textareaCont{
    width: 90%;
    height: 412px;
}

.ck.ck-editor{
    max-width: 700px;
}
.ck-editor__editable{
    width: 700px;
    min-height: 300px;
}