$color-point: rgb(19, 18, 20);

.modal_content_info {
  &_title {
    color: $color-point;
    font-size: 1.3rem;
    font-weight: 600;
    color: &$color-point;
    text-align: center;

    &_title {
      margin: 16px;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 2rem;
    }
  }

  &_content {
    ul {
      display: flex;
      flex-direction: column;
      height: 13rem;
      padding-left: 2rem;

      li {
        height: 10rem;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;

        p {
          height: 2rem;
        }

        .modal_content_info_content_title {
          font-size: 1rem;
        }
      }
    }
  }
}