.modal_review_comment {
    width: 100%;
  
    &_box {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0.2rem 0.5rem 0.5rem 0.5rem;
      border: 1px solid #eee;
      border-radius: 8px;
  
      &_name {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        list-style: none;

          li {
            margin: 0;
            height: 2rem;
            display: flex;
            align-items: center;
    
            p:nth-child(1) {
              font-weight: 700;
            }
            p:nth-child(2) {
              margin-left: 1rem;
            }
    
            p:nth-child(3) {
              margin-left: 0.5rem;
              font-size: 12px;
              font-weight: 700;
            }
          }
    
          li:nth-child(2) {
            font-size: 12px;
            font-weight: 500;
          }  
      }
  
      &_score {
        width: 100%;
        font-size: 11px;
        display: flex;
        flex-direction: column;
        background: #eee;
        padding: 0.1rem 0.5rem;
        border-radius: 0.5rem;

        tr {
          width: 100%;
          display: flex;
          justify-content: center;

          td {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: row;

            p {
              margin-right: 0.5rem;
            }
          }
        }
      }
  
      &_content {
        margin-top: 1rem;
        font-size: 13px;
        font-weight: 400;
      }
    }
  }